body{
        background: url(../imgs/fundo.gif) fixed;
        background-size: cover;
}
.area {
    background-image: url(../imgs/tails.gif);
    background-size: cover;
    position: absolute;
    width: 125px;
    height: 125px;
    left:590px;
    top: 100px;
}
.nuvem-div{
    background-image: url(../imgs/nuvem.png);
    background-size: cover;
    position: absolute;
    width: 1262px;
    height: 504px;
}

#btnEsquerda {
    border:3px solid #000;
}

#btnDireita{
    border:3px solid #000;
}

#btnDescer{
    border:3px solid #000;
}

#btnSubir{
    border:3px solid #000;
}

